<h2>Lists</h2>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>



<%= link_to "New list", new_list_path%>



<%# ajouter un lien vers lists/id/bookmarks/new%>
